@font-face {
  font-family: Lato-Regular;
  src: url(./fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(./fonts/Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-Black;
  src: url(./fonts/Lato/Lato-Black.ttf);
}
.header {
  position: fixed;
  width: 100%;
  height: auto;
  display: flex;
  background-color: #000;
  flex-direction: column;
  margin-bottom: 10px;
  z-index: 2;
}
.header-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}
.box-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #000;
  width: 90%;
  gap: 15px;
}
.list {
  display: flex;
}
.notes {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(192, 192, 192, 0.719);
  gap: 10px;
}
.notes-picture {
  width: 100%;
  height: 40px;
}
.notes-img {
  width: 30px;
  height: 30px;
}
.box-right {
  width: 10%;
  height: 35px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #000;
  gap: 10px;
}

.serv-1 {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 0.85rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100px;
  height: auto;
  font-family: Lato-Regular;
  text-wrap: nowrap;
  transition: transform 0.1s ease;
}
.serv-1:hover {
  color: silver;
  font-size: 16px;
}
.serv-1:active {
  transform: scale(0.9);
}
.a-btn {
  width: auto;
  color: white;
  text-decoration: none;
  padding: 9px 15px;
  font-family: Lato-Regular;
  font-weight: 400;
}
.btn {
  height: 100%;
  text-decoration: none;
  background-color: #87601b;
  border-color: #87601b;
  color: #fff;
  padding: 9px 15px;
  transition: all 0.5s ease;
  font-family: Lato-Regular;
  font-weight: 400;
}
.header-mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  background-color: silver;
}
.track-order {
  display: block;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 28px;
  align-items: center;
  padding-left: 5px;
  background-color: #000000da;
  border-radius: 3px;
  margin-left: 5px;
  cursor: pointer;
  transition: transform 0, 1s ease;
}
.track-order:active {
  transform: scale3d(0.95, 0.95, 1);
  outline: none;
}
.treak {
  display: block;

  padding-left: 5px;
  padding-right: 5px;

  text-wrap: nowrap;
  font-weight: 500;
  font-family: Lato-Regular;
  color: #fff;
  text-decoration: none;
}
.img-sign {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #dad7d7;
}

.burger-img {
  background-color: #fff;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  display: none;
  box-shadow: none;
  cursor: pointer;
}
.burger-img-alt {
  width: 40px;
  height: 40px;
  display: none;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
#burger {
  display: none;
}
.qqq {
  background-color: #fff;
  border-radius: 50%;
}

.btn-sign-in {
  width: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;

  text-align: center;
  color: #000;
  transition: transform 0.1s ease;
}
.btn-sign-in:active {
  transform: scale(0.9);
}
.btn-sign-in:hover {
  font-size: 18px;
}
.d-flex {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  background-color: #000;
  text-decoration: none;
}
.user-message {
  display: bloc;
  flex-direction: column;
  align-items: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  font-family: Lato-Regular;
  color: #fff;
  font-weight: 300;
  text-wrap: nowrap;
}
.search-field {
  width: 40%;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-family: Lato-Regular;
}
.search-field:hover {
  border: #000 1px solid;
}
.form-control {
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  font-family: Lato-Regular;

  border: none;
}
.search-field input:focus::placeholder {
  color: transparent;
}
.search-field:active {
  border: none;
}
.find-img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-left: 5px;
}
.search-botton {
  transition: transform 0.1s ease;
}
.search-botton:active {
  transform: scale(1.2);
}
.earch {
  width: 20px;
  height: 20px;
  display: block;
  border: #000 solid 1px;
  background-color: #000;
}
.img-trolley {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: silver;
  display: block;
}
.trolley-button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.trolley-button:hover {
  animation: trolley 1s ease;
}
.trolley-button:active {
  transform: scale3d(0.8, 0.8, 1);
  outline: none;
}

@media (max-width: 1200px) {
  .box-left {
    width: 75%;
  }

  .box-right {
    width: 25%;
  }
}
@media screen and (max-width: 815px) {
  .burger-img {
    display: block;
    top: 0px;
    left: 0px;
  }

  .navigator {
    display: none;
    flex-direction: column;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  #burger:checked + label + nav {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 81px;
    width: 105px;
    height: 300px;
    background-color: #000000a6;
    padding-left: 5px;
    padding-top: 20px;
    border-radius: 0px 0px 10px 0px;
    animation: show 0.5s ease;
  }
  #burger:checked + label .burger-img {
    display: none;
  }

  #burger:checked + label .burger-img-alt {
    display: block;
  }
  .serv,
  .serv-1 {
    width: 100%;
    display: block;
    justify-content: flex-start;
    align-items: flex-end;
    color: #fff;
  }
}

@media (max-width: 350px) {
  .d-flex {
    display: block;
    align-items: center;

    flex-direction: colum;
  }
  .treak {
    font-size: 15px;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes trolley {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
