.countainer-products {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000082;
  padding-bottom: 20px;
  
}
.products-list {
  width: 95%;
  justify-items: center;
  padding-top: 100px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-column-gap: 50px;
  grid-row-gap: 15px;
}
@media (max-width: 1200px) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
  }
  .box-left {
    width: 75%;
  }
  .box-right {
    display: flex;
    width: 25%;
  }
}
@media (max-width: 843px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .products-list {
    grid-template-columns: 100%;
    justify-items: center;
  }
}
.products-card {
  width: 250px;
  height: 450px;
  display: flex;
  box-shadow: 5px 5px 10px 0px rgba(29, 4, 4, 0.2);
  flex-direction: column;
  align-items: center;
  background-color: #fff;

  border-radius: 3px;
  gap: 20px;
  padding-bottom: 10px;
}

.products-name {
  margin-top: 10px;
  font-family: Lato-Regular;
  font-weight: 300;
  font-size: medium;
  z-index: 1;
}
.products-img {
  object-fit: contain;
  width: 90%;
  height: 80%;
  z-index: 0;
  transition: transform 0.3s ease;
}
.products-card:hover .products-img {
  transform: translateY(-15px) scale(1.1); /* Смещение и увеличение изображения */
}
.ruble {
  display: block;
  width: 15px;
  height: 15px;
  margin-bottom: -2px;
}
.products-price {
  display: flex;
  color: rgba(2, 1, 1, 0.81);
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-style: normal;
  text-decoration: underline;
}
.buy-zone {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}
.btn-buy {
  width: 70px;
  height: 25px;
  background-color: #000;
  border: 1px rgba(0, 0, 0, 0.39) solid;
  border-radius: 3px;
  color: #fff;
  font-family: Lato-Black;
  letter-spacing: 1px;
  cursor: pointer;
  perspective: 5px;
  transition: transform 0.1s ease;
}
.btn-buy:active {
  transform: scale(0.95);
}
